{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="home-box">
  <h1 style="font-size:32px;">Did you forget your password?</h1>
  <p>Enter the email address associated to your account below, and we will email you instructions for setting a new one.</p>

  <form method="POST" class="email-box">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!" class="instructions">
  </form>
</div>
{% endblock %}